/**
 * Patrick Hund's custom theme, based on Solarized Light.
 * Author: Achim Staebler
 */
// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------
// Include theme-specific fonts
//noinspection CssUnknownTarget
@import url(../../lib/font/league-gothic/league-gothic.css);
//noinspection CssUnknownTarget
@import url(../../lib/font/lato/lato.css);

/**
 * Solarized colors by Ethan Schoonover
 */
html * {
    color-profile: sRGB;
    //noinspection CssUnknownProperty
    rendering-intent: auto;
}

// Solarized colors
$base03: #002b36;
$base02: #073642;
$base01: #586e75;
$base00: #657b83;
$base0: #839496;
$base1: #93a1a1;
$base2: #eee8d5;
$base3: #fdf6e3;
$yellow: #b58900;
$orange: #cb4b16;
$red: #dc322f;
$magenta: #d33682;
$violet: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900;

// Override theme settings (see ../template/settings.scss)
$mainColor: $base00;
$headingColor: $base01;
$headingTextShadow: none;
$backgroundColor: $base3;
$linkColor: $blue;
$linkColorHover: lighten($linkColor, 20%);
$selectionBackgroundColor: $magenta;

// Background generator
// @mixin bodyBackground() {
// 	@include radial-gradient( rgba($base3,1), rgba(lighten($base3, 20%),1) );
// }

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal .pink {
    color: $magenta;
}

.reveal .big {
    font-size: 150%;
}

.reveal .small {
    font-size: 50%;
}

.reveal .very-small {
    font-size: 30%;
}

.reveal pre.small {
    font-size: 0.4em;
}

.reveal pre.big {
    font-size: 0.7em;
}

.reveal section img {
    border: none;
}

.reveal section img.plain {
    border: none;
    box-shadow: none;
}

.reveal .nocaps {
    text-transform: none;
}

.reveal .columns-container {
    align-items: center;
    display: flex;
}

.reveal .column-two-thirds {
    flex: 1 1 66%;
}

.reveal .column-one-third {
    flex: 1 1 33%;
}

.reveal .column-one-half {
    flex: 1 1 50%;
}
